@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Operation List</li>
            <li>
                <a href="@Url.Action(actionName: "Index", controllerName: "Home")"><i class="fa fa-home"></i> <span>Home</span></a>
            </li>
	        <li class="treeview">
		        <a href="#">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> <span>Setup Module</span>
			        <span class="pull-right-container">
				        <i class="fa fa-angle-left pull-right"></i>
			        </span>
		        </a>
		        <ul class="treeview-menu">
			        <li>
				        <a href="@Url.Action(actionName: "ClassCreate", controllerName: "Departments")"><i class="fa fa-university" aria-hidden="true"></i><span>Class Setup</span></a>
			        </li>
			        <li>
				        <a href="@Url.Action(actionName: "SubjectView", controllerName: "Subjects")"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Subject Setup</span></a>
			        </li>
		        </ul>
	        </li>
	        <li class="treeview">
		        <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i> <span>Operation Module</span>
			        <span class="pull-right-container">
				        <i class="fa fa-angle-left pull-right"></i>
			        </span>
		        </a>
                <ul class="treeview-menu">
	                <li>
		                <a href="@Url.Action(actionName: "StudentEntry", controllerName: "StudentEntries")">
			                <i class="fa fa-address-card" aria-hidden="true"></i>
			                <span>Student Entry</span>
		                </a>
	                </li>
	                <li>
		                <a href="@Url.Action(actionName: "StudentResultMarks", controllerName: "StudentMarks")">
			                <i class="fa fa-cog" aria-hidden="true"></i>
			                <span>Subject Marks Entry</span>
		                </a>
	                </li>
                    <li>
                        <a href="@Url.Action(actionName: "ResultCreate", controllerName: "ResultInformations")">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span>Class Wise Result</span>
                        </a>
                    </li>
	                <li>
		                <a href="@Url.Action(actionName: "StudentList", controllerName: "AllStudentInformationList")">
			                <i class="fa fa-table" aria-hidden="true"></i>
			                <span>Student Info List</span>
		                </a>
	                </li>
                </ul>
	        </li>
	        <li class="@Url.IsLinkActive("SimsReport", "AllStudentReports")">
		        <a href="@Url.Action("SimsReport", "AllStudentReports")"><i class="fa fa-table"></i> <span>Report Module</span></a>
	        </li>
        </ul>
        @* END Menu *@
    </section>
</aside>